/*Links effect*/
a.links, a.footlink{
    color:rgb(192, 192, 192);
}
a.links:visited{
    color:rgb(192, 192, 192);
}
a.links:hover{
    color: rgb(255, 0, 0)
}
a.btnreg, a.update_link{
    color:white;
}
a.btnreg:hover, a.update_link{
    text-decoration: none;
}
a.activate-link{
    color:rgb(236, 160, 19);
}
a.activate-link:visited{
    color:rgb(236, 160, 19);
}
a.activate-link:hover{
    color:rgb(233, 203, 203);
    text-decoration: none;
}

a.forgot-psw{
    color:green;
}
a.forgot-psw:visited{
    color:green;
}
a.forgot-psw:hover{
    color:rgb(212, 226, 21);
    text-decoration: none;
}



/*End of Links effect*/

nav {
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
#loginmodal{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
   
}
#user-profile{

   font-family: 'Courier New', Courier, monospace;
   font-size: small;
   /*border: red 1px dotted;*/
}


body{
    background-color: rgb(209, 250, 243); /*rgb(133, 238, 159);*/
}
#footer{
   color: white;
   font-weight:500;
}
#header-title{
    top:60px;;
}


/*Carousel*/
#car1, #car2, #car3{
   opacity: 0.8;
   color: black;
   border-radius: 10px;
}
#carousel-main{
    border-radius: 10px;
}

/*End of carousel*/

/*admin_register_form*/
#reg_title{
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
}

/*End*/

/*body_content elements*/
#record-search{
    width: 25%;
}
td, #table-header{
    font-size: 14px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

@media screen and  (max-device-width: 960px){
    /*subok na to kaya always gamitin natin*/
    #table-header{
        
        font-size: 10px;
    
        }
        #healthstat-record{
            font-size: 12px;
        }
        #record-search{
            width: 100%;
        }
        #btn-search{
            float: right;
        }
        #health-remarks-status, #status-textarea, #healthstat-record, #remarks-record, #msg-output{
            font-size: small;
        }
       

  }
tbody:hover{
    cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    max-height: 25px;
  
}
tbody{
    max-height: 10px;
    overflow: auto;
}
tr:hover{
background-color: rgb(16, 175, 223);
color: yellow;
}

td{
    border: 1px solid;
    border-color: rgb(88, 41, 41);
    border-radius: 2px;
    
}


table{
    border-radius: 10px;
    
}

/*end*/


/*user-login-interface*/
#title-remarks{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
   /* text-decoration: underline;*/
}
#title-status{
    font-family: "Helvetica";
    /*text-decoration: underline;*/
    
}
#title-prescription{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*text-decoration: underline;*/
    font-size: large;
}

/*success_login_interface*/
#patients-header, #patients-th{
    border: 1px black solid;
}
#patients-th{
    text-align: center;
}
/*end*/
#status-alert{
    transform: scale(.8)
}

